

<div id="services" class="services section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
          <h4>Fast and precise single-cell data analysis using a hierarchical autoencoder</h4>
          <img src="assets/images/heading-line-dec.png" alt="">
          <p></p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row align-content-center">
        <div class="col-lg-10"></div>
      <embed src="https://drive.google.com/viewerng/viewer?embedded=true&url=https://www.nature.com/articles/s41467-021-21312-2.pdf?pdf=button%20sticky" width="60%" height="1000">
    </div>
  </div>
</div>

<script src="assets/js/js_home.js"></script>